/*****************  MENU  ***********/
.navbar {
    background-color: #117c0f;
    position: fixed; /* Fija el menú en la posición */
      top: 0; /* Colócalo en la parte superior */
      left: 0; /* Alineado a la izquierda */
      width: 100%; /* Ancho completo */
      background-color: #FFFFFF; /* Color de fondo */
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */
      z-index: 900;
  }
  .navbar .navbar-brand {
    color: #117c0f;
    font-weight: bold;
  }
  .navbar-brand {
    color: #117c0f;
    font-size: 15px; /* Tamaño del texto */
    font-weight: bold; /* Hace el texto más grueso */
    display: flex;
    align-items: center;
  }
  .navbar-brand img {
    height: 60px; /* Ajusta el tamaño de la imagen */
    margin-right: 10px; /* Espacio entre la imagen y el texto */
  }
  .nav-link {
    color: #fff; /* Color de los enlaces */
    margin: 0 15px; /* Espaciado entre los enlaces */
  }
  .nav-link:hover {
    color: #ffc107; /* Color al pasar el mouse */
  }
  .dropdown-menu {
    background-color: #117c0f;
    border: none; /* Elimina el borde del dropdown */
  }
  .dropdown-item {
    color: #fff; /* Color de los elementos del dropdown */
  }
  .dropdown-item:hover {
    background-color: #117c0f;
  }
  #searchForm {
    margin-left: auto; /* Empuja el formulario a la derecha */
  }
  .form-control {
    border-radius: 20px; /* Bordes redondeados */
    border: 1px solid #ccc; /* Color del borde */
  }
  .btn-outline-success {
    border: 3px solid #117c0f;
    background-color: #117c0f;
    color: #fff; /* Color del texto */
    border: none; /* Elimina el borde */
    border-radius: 10px; /* Bordes redondeados */
  }
  .btn-outline-success:hover {
    background-color: #22d615;
    color: #ffffff;
  }
  @media (max-width: 768px) {
    .navbar-brand img {
      height: 30px;
    }
    .navbar-brand {
      font-size: 1.2rem;
    }
  }
  
  /************  FONDO ****************/
  
  .seccionwiki {
    background: url('https://i.ibb.co/MG7CFz0/fondo-09-09.png') no-repeat center center fixed;
    background-size: cover;
    color: #000;
    margin: 0;
    padding: 0;
  }
  @media (max-width: 768px) { /* Cambia el tamaño según necesites */
    .seccionwiki {
      background: url('https://i.ibb.co/nQ2bY3V/recursos-graficos-16.png') no-repeat center center fixed; /* URL de la nueva imagen para móviles */
      background-size: cover; /* Puedes ajustar esto a contain si deseas ver toda la imagen */
    }
  }
  
  
  /************   CARTA POKEMON IMG  *************/
  
  @media only screen and (max-width: 480px) {
    .cartapokemon .left .charizard-img {
      width: 90%;
      height: auto;
    }
  }
  @media only screen and (min-width: 481px) and (max-width: 768px) {
    .cartapokemon .left .charizard-img {
      width: 100%;
      height: auto;
    }
  }
  @media only screen and (min-width: 769px) and (max-width: 1024px) {
    .cartapokemon .left .charizard-img {
      width: 90%;
      height: auto;
    }
  }
  @media only screen and (min-width: 1025px) and (max-width: 1200px) {
    .cartapokemon .left .charizard-img {
      width: 80%;
      height: auto;
    }
  }
  @media only screen and (min-width: 1201px) {
    .cartapokemon .left .charizard-img {
      width: 80%;
      height: auto;
      margin: 20px;
    }
  }
  @media only screen and (max-width: 480px) {
    .cartapokemon .left .charizard-img1 {
      width: 90%;
      height: auto;
      margin: 20px;
    }
  }
  @media only screen and (min-width: 481px) and (max-width: 768px) {
    .cartapokemon .left .charizard-img1 {
      width: 100%;
      height: auto;
      margin: 20px;
    }
  }
  @media only screen and (min-width: 769px) and (max-width: 1024px) {
    .cartapokemon .left .charizard-img1 {
      width: 90%;
      height: auto;
      margin: 30px;
    }
  }
  @media only screen and (min-width: 1025px) and (max-width: 1200px) {
    .cartapokemon .left .charizard-img1 {
      width: 80%;
      height: auto;
      margin: 30px;
    }
  }
  @media only screen and (min-width: 1201px) {
    .cartapokemon .left .charizard-img1 {
      width: 80%;
      height: auto;
      margin: 30px;
    }
  }
  @media only screen and (max-width: 480px) {
    .cartapokemon .left .charizard-img2 {
      width: 30%;
      height: auto;
      left: 130px;
    }
  }
  @media only screen and (min-width: 481px) and (max-width: 768px) {
    .cartapokemon .left .charizard-img2 {
      width: 40%;
      height: auto;
      left: 120px;
    }
  }
  @media only screen and (min-width: 769px) and (max-width: 1024px) {
    .cartapokemon .left .charizard-img2 {
      width: 50%;
      height: auto;
      left: 110px;
    }
  }
  @media only screen and (min-width: 1025px) and (max-width: 1200px) {
    .cartapokemon .left .charizard-img2 {
      width: 50%;
      height: auto;
      left: 180px;
    }
  }
  @media only screen and (min-width: 1201px) {
    .cartapokemon .left .charizard-img2 {
      width: 30%;
      height: auto;
      left: 200px;
    }
  }
  /***********************************/
  
  .imgiconos1 {
    width: 20px;
    margin: 5px;
  }
  .cartapokemon .container {
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    background-color: rgba(255, 255, 255, 0.847);
    border: 1px solid #000;
    padding: 8px;
  }
  .cartapokemon .header {
    border: 1px solid #000;
    background-color: #117c0f;
    padding: 10px;
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
    display: flex; /* Usa flex para alinear los elementos */
    align-items: center; /* Centra verticalmente */
  }
  .cartapokemon .header .circle,
  .cartapokemon .header .small-circle,
  .cartapokemon .header .smaller-circle,
  .cartapokemon .header .smallest-circle {
    margin: 0 5px; /* Espacio entre círculos */
    border-radius: 50%; /* Círculo */
  }
  .cartapokemon .header .circle {
    background-color: #0000FF;
    border: 4px solid #FFFFFF;
    width: 25px; /* Tamaño del círculo grande */
    height: 25px;
  }
  .cartapokemon .header .small-circle {
    background-color: #117c0f;
    border: 2px solid #000000;
    width: 15px; /* Tamaño del círculo pequeño */
    height: 15px;
  }
  .cartapokemon .header .smaller-circle {
    background-color: #FFFF00;
    border: 2px solid #000000;
    width: 15px; /* Tamaño del círculo pequeño */
    height: 15px;
  }
  .cartapokemon .header .smallest-circle {
    background-color: #00FF00;
    border: 2px solid #000000;
    width: 15px;
    height: 15px;
  }
  .cartapokemon .content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .cartapokemon .left, .cartapokemon .right {
    width: 100%;
  }
  .cartapokemon .left img {
    width: 800px;
  }
  
  .cartapokemon .left .mini-images {
    text-align: center;
    margin-top: 10px;
  }
  .cartapokemon .left .mini-images h4 {
    margin: 0;
    font-size: 14px;
    background-color: #117c0f;
    color: #FFFFFF;
    padding: 5px;
    border: 1px solid #000;
  }
  .cartapokemon .left .mini-images img {
    width: 150px;
    margin: 5px;
  }
  .cartapokemon .left .mini-images1 img {
    width: 25px;
    margin: 5px;
  }
  .cartapokemon .left .mini-images1 {
    text-align: center;
    margin-top: 10px;
  }
  .cartapokemon .left .mini-images1 h4 {
    margin: 0;
    font-size: 20px;
    background-color: #117c0f;
    color: #FFFFFF;
    padding: 5px;
    border: 1px solid #000;
  }
  .cartapokemon .right table {
    width: 100%;
    border-collapse: collapse;
  }
  .cartapokemon .right table, .cartapokemon .right th, .cartapokemon .right td {
    border: 1px solid #000;
  }
  .cartapokemon .right th, .cartapokemon .right td {
    padding: 5px;
    text-align: left;
  }
  .cartapokemon .right th {
    border: 1px solid #000;
    background-color: #117c0f;
    color: #FFFFFF;
  }
  .cartapokemon .section {
    background: linear-gradient(to right, #117c0f, #078105);
    border: 1px solid #000;
    color: #FFFFFF;
    padding: 3px;
    margin-top: 1px;
    font-weight: bold;
    position: relative;
    border-radius: 5px;
  }
  .cartapokemon .footer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .cartapokemon .footer div {
    width: 100%;
  }
  .cartapokemon .footer table {
    width: 100%;
    border-collapse: collapse;
  }
  .cartapokemon .footer table, .cartapokemon .footer th, .cartapokemon .footer td {
    border: 1px solid #000;
  }
  .cartapokemon .footer th, .cartapokemon .footer td {
    padding: 5px;
    text-align: left;
  }
  .cartapokemon .footer th {
    border: 1px solid #000;
    background-color: #117c0f;
    color: #FFFFFF;
  }
  .cartapokemon .image-row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 8px;
  }
  .cartapokemon .image-row img {
    width: 80px;
    margin: 5px;
  }
  @media (max-width: 600px) {
    .cartapokemon .left .mini-images img {
    width: 100px;
    margin: 5px;
    }
    .cartapokemon .header .circle {
        width: 20px;
        height: 20px;
    }
    .cartapokemon .header .small-circle,
    .cartapokemon .header .smaller-circle,
    .cartapokemon .header .smallest-circle {
        width: 10px;
        height: 10px;
    }
  }
  @media (min-width: 600px) {
    .cartapokemon .content {
        flex-direction: row;
    }
    .cartapokemon .left, .cartapokemon .right {
        width: 48%;
    }
    .cartapokemon .footer {
        flex-direction: row;
    }
    .cartapokemon .footer div {
        width: 48%;
    }
    .cartapokemon .image-row img {
      width: 80px;
      margin: 5px;
    }
  }
  
  .enlaces {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
  }
  .enlaces:hover {
    color: #117c0f;
    text-decoration: underline;
    transition: color 0.3s ease;
  }
  .enlaces1 {
    font-weight: bold;
    color: #2c2c2c;
    text-decoration: none;
  }
  .enlaces1:hover {
    color: #117c0f;
    text-decoration: none;
    text-decoration: underline;
    transition: color 0.3s ease;
  }
  .imgenlaces {
    transition: transform 0.3s ease;
  }
  .imgenlaces:hover  {
    transform: scale(1.5);
  }
  .imgenlaces1 {
    transition: transform 0.3s ease;
  }
  .imgenlaces1:hover  {
    transform: scale(1.2);
  }
  
  /************  DESCRIPCION  ***************/
  
  .imgiconos {
    width: 30px;
    margin: 10px;
  }
  .descripcion .container {
    background: linear-gradient(to right, #117c0f, #0c520a);
    width: 100%;
    margin: 1px auto;
    padding: 10px;
    border-radius: 10px;
    position: relative;
  }
  .descripcion .header {
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    background-color: #117c0f;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 1px 0;
  }
  .descripcion .content {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
  }
  .descripcion .red-line {
    background-color: #ff0000;
    height: 5px;
    margin: 10px 0;
  }
  .descripcion .text {
    font-size: 14px;
    color: #000000;
    line-height: 1.5;
  }
  @media (max-width: 768px) {
    .imgiconos {
      width: 20px;
      margin: 5px;
    }
    .descripcion .container {
      padding: 8px;
      border-radius: 8px;
    }
    .descripcion .header {
      font-size: 13px;
      padding: 5px 0;
    }
    .descripcion .content {
      padding: 15px;
      margin-top: 15px;
    }
    .descripcion .text {
      font-size: 12px;
    }
  }
  @media (max-width: 480px) {
    .imgiconos {
      width: 15px;
      margin: 5px;
    }
    .descripcion .header {
      font-size: 12px;
    }
    .descripcion .content {
      padding: 10px;
    }
    .descripcion .text {
      font-size: 11px;
    }
  }
  
  /************  EVOLUCION  ***************/
  
  .evolucion {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
  }

  .evolucion .card {
    display: inline-block;
    width: 80px; /* Ancho más amplio para móviles */
    padding: 5px;
    text-align: center;
    background-color: #f5f5f5a2;
    border-radius: 10px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    margin: 5px;
  }
  .evolucion .card:hover {
    transform: translateY(-5px);
  }
  .evolucion .card .text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    word-wrap: break-word;
    word-break: break-word;
  }
  .evolucion .card .text1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    word-wrap: break-word;
    word-break: break-word;
  }
  .evolucion .card .text2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    word-wrap: break-word;
    word-break: break-word;
  }
  .evolucion .card .blanco {
    color: rgb(17, 16, 16);
    background-color: #ffffff;
    border: 1px solid rgb(17, 16, 16);
  }
  .evolucion .card .amarillo {
    color: rgb(17, 16, 16);
    background-color: #ecf402;
    border: 1px solid rgb(17, 16, 16);
  }
  .evolucion .card .naranja {
    color: rgb(17, 16, 16);
    background-color: #ff8b17;
    border: 1px solid rgb(17, 16, 16);
  }
  .evolucion .card .azul {
    color: rgb(255, 255, 255);
    background-color: rgb(25, 106, 205);
    border: 1px solid rgb(17, 16, 16);
  }
  .evolucion .card .rojo {
    color: rgb(255, 255, 255);
    background-color: rgb(203, 25, 25);
    border: 1px solid rgb(17, 16, 16);
  }
  .evolucion .card .icon {
    width: 18px;
    height: auto;
    margin-right: 5px;
  }
  .evolucion1 .card .nochedia {
    width: 15px;
    height: auto;
    margin-right: 5px;
    margin: 5px;
  }
  .evolucion .card .nochedia {
    width: 15px;
    height: auto;
    margin-right: 5px;
    margin: 5px;
  }
  .evolucion .card .image-container {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
  }
  .evolucion .card .image {
    width: 100%; 
    height: auto;
    object-fit: contain;
    border-radius: 10px;
  }
  .evolucion .card .image1 {
    width: 30%; 
    height: auto;
    object-fit: contain; 
    border-radius: 10px;
  }
  .evolucion .card .image2 {
    width: 25%; 
    height: auto;
    object-fit: contain; 
  }
  .evolucion .card .image3 {
    margin: 3px;
    width: 20%; 
    height: auto;
    object-fit: contain; 
  }
  .evolucion .card .image4 {
    margin: 3px;
    width: 50%; 
    height: auto;
    object-fit: contain; 
  }
  .na-icons {
    display: flex;
    justify-content: center;
    margin-top: 5px;
  }
  .na-icons .na-icon {
    width: 100px;
    height: auto;
    margin: 0 5px;
  }
  .na-icon1 {
    width: 15px;
    height: auto;
    margin: 0 5px;
  }
  .na-icon2 {
    padding: 0px 0px 0px 0px;
    width: 5px;
    height: 5px;
  }
  .flecha {
    width: 30px;
  }
  @media (max-width: 768px) {
    .evolucion .card {
    width: 1px; /* Ancho más amplio para móviles */
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    margin: 5px;
    }
    .na-icons .na-icon {
        width: 25px;
    }
    .flecha {
        width: 8px;
    }
  
    .evolucion .card .image {
        width: 100%;
        object-fit: contain; 
    }
    .evolucion .card .image1 {
      width: 40%;
      object-fit: contain;   
    }
    .evolucion .card .image2 {
      width: 10%; 
      object-fit: contain; 
    }
    .evolucion .card .image3 {
      width: 10%; 
      object-fit: contain; 
    }
  }
  @media (max-width: 480px) { /* Pantallas móviles pequeñas */
  
    .evolucion .card {
        width: 60px; /* Aún más anchas en móviles pequeños */
        padding: 5px;
    }
    .na-icons .na-icon {
        width: 30px;
    }
    .flecha {
        width: 7px;
    }
    .evolucion .card .icon {
        width: 12px;
    }
    .evolucion1 .card .nochedia {
      width: 8px;
      height: auto;
      margin-right: 3px;
      margin: 5px;
  }
    .evolucion .card .image {
        width: 100%;
        height: auto;
        object-fit: contain;
    }
    .evolucion .card .image1 {
      width: 90%;
      height: auto;
      object-fit: contain;
  }
  .evolucion .card .image2 {
    width: 40%;
    height: auto;
    object-fit: contain;
  }
  .evolucion .card .image3 {
    width: 30%; 
    height: auto;
    object-fit: contain; 
  }
    .evolucion .card .text {
        font-size: 8px; /* Texto pequeño en móviles pequeños */
        word-wrap: break-word;
        word-break: break-word;
    }
    .evolucion .card .text1 {
        font-size: 6px; /* Texto pequeño en móviles pequeños */
        word-wrap: break-word;
        word-break: break-word;
    }
    .evolucion .card .text2 {
        font-size: 10px; /* Texto pequeño en móviles pequeños */
        word-wrap: break-word;
        word-break: break-word;
    }
  }
  .evolucion1 {
    align-items: center;
    display: flex;
    justify-content: center; /* Alinear cajas al centro */
    width: 100%;
    flex-wrap: wrap;
    overflow-x: auto;
    white-space: nowrap;
  }
  
  .evolucion1 .card {
    display: inline-block;
    width: 30%; /* Ajustar el ancho de cada caja a un 30% */
    padding: 10px;
    text-align: center;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    margin: 10px; /* Añadir margen uniforme alrededor de las cajas */
  }
  
  .evolucion1 .card:hover {
    transform: translateY(-5px);
  }
  
  .evolucion1 .card .text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px; /* Ajustar el tamaño del texto si es necesario */
    word-wrap: break-word;
    word-break: break-word;
  }
  
  .evolucion1 .card .icon {
    width: 20px; /* Icono más pequeño */
    height: auto;
    margin-right: 5px;
  }
  
  .evolucion1 .card .image-container {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
  }
  
  .evolucion1 .card .image {
    width: 100%;
    height: auto;
    object-fit: contain; 
    border-radius: 10px;
  }
  @media (max-width: 768px) {
    .na-icons .na-icon {
        width: 25px;
    }
    .flecha {
        width: 8px;
    }
  }
  @media (max-width: 480px) { /* Pantallas móviles pequeñas */
    .na-icons .na-icon {
        width: 30px;
    }
    .flecha {
        width: 7px;
    }
  
    .evolucion1 .card .text {
        font-size: 8px; /* Texto pequeño en móviles pequeños */
        word-wrap: break-word;
        word-break: break-word;
    }
  }
  
  /***********    MEGAEVOLUCION  **************/
  
  .megaevolucion .container {
    border: 3px solid red;
    padding: 10px;
    display: flex;
    width: 95%;
    height: auto;
    box-sizing: border-box;
    margin: 0 auto;
  }
  .img-icon1{
    width: 15px;
  }
  .img-icon2{
    width: 45px;
  }
  .megaevolucion .left {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .megaevolucion .left-image {
    max-width: 80%;
  }
  .megaevolucion .right {
    width: 60%;
    padding-left: 1px;
    box-sizing: border-box;
  }
  .megaevolucion .subheader1 {
    background-color: #ff0000;
    color: white;
    text-align: center;
    padding: 5px;
    font-weight: bold;
    border: 2px solid red;
    margin-top: 5px;
    font-size: 14px; /* Texto más pequeño */
  }
  .megaevolucion .subheader {
    background-color: white;
    color: #ff0000;
    text-align: center;
    padding: 5px;
    font-weight: bold;
    border: 2px solid red;
    margin-top: 5px;
    font-size: 14px; /* Texto más pequeño */
  }
  .megaevolucion .content {
    display: flex;
    flex-direction: column;
    gap: 5px; /* Espacio reducido */
    margin-top: 10px;
  }
  
  .megaevolucion .content div {
    display: flex;
    justify-content: space-between;
  }
  
  .megaevolucion .content div span {
    background-color: red;
    color: white;
    padding: 5px; /* Padding más pequeño */
    flex: 1;
    text-align: center;
    font-weight: bold;
    font-size: 12px; /* Tamaño reducido */
  }
  
  .megaevolucion .content div span.left {
    background-color: white;
    color: red;
    border: 2px solid red;
  }
  
  .megaevolucion .buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px; /* Reducido para hacer el contenido más compacto */
  }
  
  .megaevolucion .buttons .image {
    background-color: transparent;
    color: white;
    padding: 5px;
    width: 25%; /* Botones más pequeños */
    text-align: center;
    font-weight: bold;
  }
  
  .megaevolucion .buttons .image img {
    width: 100%;
    height: auto;
  }
  @media screen and (max-width: 768px) {
    .megaevolucion .content div span {
      background-color: red;
      color: white;
      padding: 2px;
      text-align: center;
      font-weight: bold;
      font-size: 1px;
    }
    .img-icon1{
      width: 8px;
    }
    .megaevolucion .container {
        width: 95%;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .megaevolucion .left {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .megaevolucion .left-image {
      max-width: 100%;
    }
    .megaevolucion .right {
      width: 50%;
      padding-left: 5px;
      box-sizing: border-box;
    }
    .megaevolucion .subheader1 {
      background-color: #ff0000;
      color: white;
      text-align: center;
      padding: 1px;
      font-weight: bold;
      border: 2px solid red;
      margin-top: 5px;
      font-size: 8px; /* Texto más pequeño */
    }
    .megaevolucion .subheader {
      background-color: white;
      color: #ff0000;
      text-align: center;
      padding: 1px;
      font-weight: bold;
      border: 2px solid red;
      margin-top: 5px;
      font-size: 8px; /* Texto más pequeño */
    }
    .megaevolucion .content div span {
        font-size: 6px; /* Reducir texto en móviles */
        padding: 3px;
    }
    .megaevolucion .buttons {
        gap: 5px; /* Reducir espacio entre los botones */
    }
    .megaevolucion .buttons .image {
        width: 90px; /* Botones más pequeños en móviles */
    }
    .section .img-icon1 {
      width: 15px;
    }
  }
  
  /*************** Movimiento Z  **************/
  
  .movimientoz .container {
    width: 900px; /* Aumentamos el ancho del contenedor */
    border: 2px solid black;
    border-radius: 20px; /* Bordes redondeados generales */
    overflow: hidden;
    margin: 0 auto; /* Centramos el contenedor */
  }
  .movimientoz .top-section {
    background: linear-gradient(to right, #ff0000, #0000ff);
    padding: 5px;
    color: #f5f5f5;
    display: flex;
    align-items: center;
    border-radius: 12px;
    border: 1px solid black;
  }
  .movimientoz .top-section span {
    font-weight: bold;
    font-size: 15px;
  }
  .movimientoz .bottom-section {
    background-color: #ffffff;
    padding: 1px;
    text-align: center;
  }
  .movimientoz .bottom-section span {
    font-weight: bold;
    font-size: 12px;
  }
  @media (max-width: 768px) {
    .movimientoz .container {
      width: 10%;
    }
    .movimientoz .top-section span,
    .movimientoz .bottom-section span {
      font-size: 10px;
    }
  }
  @media (max-width: 480px) {
    .movimientoz .container {
      width: 100%;
    }
    .movimientoz .top-section span,
    .movimientoz .bottom-section span {
      font-size: 10px;
    }
  }
  
  /************* PAGINATION *************/
  
  .custom-pagination .custom-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-top: 2px solid red;
    border-bottom: 2px solid red;
    overflow: hidden;
  }
  .custom-pagination .custom-left,
  .custom-right {
    display: flex;
    align-items: center;
  }
  .custom-pagination .custom-left .custom-image,
  .custom-right .custom-image {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  .custom-pagination .custom-left .custom-text,
  .custom-right .custom-text {
    color: black;
    font-size: 20px;
    margin-right: 10px;
  }
  .custom-pagination .custom-left .custom-text span,
  .custom-right .custom-text span {
    color: red;
  }
  .custom-pagination .custom-center {
    color: rgb(25, 25, 25);
    font-size: 18px;
  }
  .custom-pagination .custom-divider {
    width: 3px;
    height: 30px;
    background-color: rgb(216, 3, 3);
    margin: 0 20px;
  }
  .custom-text span .enlaces {
    font-size: 15px;
  }
  @media (max-width: 768px) {
    .custom-text span .enlaces {
      font-size: 5px;
    }
    .custom-pagination .custom-container {
      padding: 5px;
      justify-content: space-around;
    }
    .custom-pagination .custom-left .custom-image,
    .custom-right .custom-image {
      width: 3px;
      margin-right: 1px;
    }
    .custom-pagination .custom-left .custom-text,
    .custom-right .custom-text {
      font-size: 10px; /* Disminuye el tamaño del texto */
    }
    .custom-pagination .custom-center {
      font-size: 10px; /* Reduce el texto del centro */
    }
    .custom-pagination .custom-divider {
      height: 15px;
      margin: 0 10px;
    }
  }
  @media (max-width: 480px) {
    .custom-pagination .custom-container {
      padding: 5px;
      justify-content: space-between;
    }
    .custom-pagination .custom-left .custom-text,
    .custom-right .custom-text {
      font-size: 8px;
      margin-right: 3px;
    }
    .custom-pagination .custom-center {
      font-size: 10px;
    }
    .custom-pagination .custom-left .custom-image,
    .custom-right .custom-image {
      width: 15px;
      height: 15px;
    }
    .custom-pagination .custom-divider {
      height: 20px;
      margin: 0 5px;
    }
  }
  
  /******************* FOOTER  **************/
  
  .footergrafiz {
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
  }
  .footergrafiz .container {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    flex-wrap: wrap;
  }
  .footergrafiz .column {
    width: 30%;
    min-width: 150px;
  }
  .footergrafiz .header {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #ffffff;
    border-bottom: 2px solid #117c0f;
    padding-bottom: 10px;
  }
  .footergrafiz .text-block {
    font-size: 14px;
    line-height: 1.6;
  }
  .footergrafiz .footer {
    border-top: 2px solid #fff;
    padding-top: 20px;
    margin-top: 20px;
    background-color: #1c1c1c;
    color: #dcdcdc;
    font-size: 14px;
    text-align: center;
    padding: 15px 0;
    position: relative;
    letter-spacing: 0.5px;
  }
  .footergrafiz .footer::before {
    content: '';
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 4px;
    background-color: #117c0f;
    border-radius: 2px;
  }
  .footergrafiz .image-block {
    margin-bottom: 20px;
    text-align: center;
  }
  .footergrafiz .image-block img {
    width: 50px;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  }
  .footergrafiz .image-block .wikiimg {
    width: 10px;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  }
  .footergrafiz .image-block img:hover {
    transition: transform 0.3s ease;
    transform: scale(1.5);
    width: 50px;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  }
  .enalcefooter .image-block p {
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
    color: #ffffff;
  }
  .footergrafiz .centered-text {
    margin-top: 10px;
  }
  .footergrafiz .centered-text p {
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    margin: 10px 0;
    color: #ffffff;
  }
  .footergrafiz .redes-icon {
    width: 25px;
    margin-right: 8px;
    vertical-align: middle;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.3));
  }
  .enalcefooter {
    color: #ffffff;
    text-decoration: none;
  }
  .enalcefooter:hover{
    color: #117c0f;
    text-decoration: none;
  }
  
  
  
  @media (max-width: 768px) {
    .footergrafiz .container {
      flex-direction: column;
      align-items: center;
    }
  
    .footergrafiz .column {
      width: 90%;
      margin-bottom: 20px;
    }
  
    .footergrafiz .header {
      font-size: 20px;
    }
  
    .footergrafiz .footer {
      font-size: 12px;
    }
  
    .footergrafiz .centered-text p {
      font-size: 10px;
    }
  
    .footergrafiz .redes-icon {
      width: 20px;
      height: 20px;
    }
  
    .footergrafiz .image-block img {
      width: 50px;
    }
  
    .footergrafiz .text-block {
      font-size: 10px;
    }
  }
  
  @media (max-width: 480px) {
    .footergrafiz .container {
      padding: 10px;
    }
  
    .footergrafiz .footer {
      padding: 15px 0;
    }
  
    .footergrafiz .text-block {
      font-size: 12px;
    }
  
    .footergrafiz .header {
      font-size: 16px;
    }
  }


/**************  PLANTILLA  ****************/


.contenedor {
    display: flex;
    gap: 1px;
    width: 100%;
    padding: 10px;
}
.contenedor .caja {
    flex: 1;
    padding: 5px;
    border: 3px solid #117c0f;
    text-align: center;
    border-radius: 8px;
}
.contenedor .caja1 {
    background-image: url('https://i.ibb.co/XLRf1RR/cancha.png');
    background-size: cover;
    background-position: center;
    flex: 1;
    padding: 5px;
    border: 3px solid #117c0f;
    text-align: center;
    border-radius: 8px;
}
.caja {
    gap: 1px;
    width: 100%;
    padding: 10px;
}
.caja1 {
    gap: 1px;
    width: 100%;
    padding: 10px;
}

@media (max-width: 768px) {
    .contenedor {
        flex-direction: column;
        align-items: center;
    }
}


/**************   IMAGEN GALERIA   *********/

.uniforme {
    display: flex;
    justify-content: center;
    align-items: center;
}
.galeria {
    text-align: center;
    width: 80%;
}
.imagen-principal {
    width: 50%;
    height: auto;
    margin-bottom: 20px;
}
.miniaturas {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.miniatura {
    text-align: center;
}

.miniatura img {
    width: 30px;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.miniatura img:hover {
    transform: scale(1.05);
}
button {
    margin-top: 5px;
    padding: 5px 10px;
    font-size: 12px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #45a049;
}

/**************  PLANTILLA  ****************/

.plantilla {
    background-image: url('https://i.ibb.co/0XKGzGj/descargar-21.jpg');
    background-size: cover;
    background-position: center;
    flex: 1;
    padding: 5px;
    border: 3px solid #117c0f;
    text-align: center;
    border-radius: 8px;
}

/**************  PALMARES  ****************/

.tabla-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}
.tabla {
    flex: 1;
    min-width: 250px; /* Para que en pantallas grandes las tablas ocupen más espacio */
}
table {
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #ffffff;
}
th, td {
    padding: 10px;
    text-align: left;
}
th {
    background-color: #117c0f;
    color: #ffffff;
    font-size: 12px;
}
td {
    font-size: 14px;
    border-bottom: 1px solid #dddddd;
}
tr:hover {
    background-color: #f1f5f9;
}
.icono {
    width: 20px;
    height: auto;
    margin-right: 8px;
    vertical-align: middle;
}
@media (max-width: 768px) {
    .tabla-container {
        flex-direction: column;
        align-items: center;
    }
    .tabla {
        width: 100%;
    }
}

/*    ACORDEON   */

.accordionx {
    background-color: #117c0f;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    transition: 0.4s;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.accordionx .icono {
    font-size: 18px;
    transition: transform 0.4s ease;
}
.activex .icono {
    transform: rotate(180deg);
}
.activex, .accordionx:hover {
    background-color: #0e6b0d;
}
.panelx {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    text-align: center;
    color: #444;
    font-size: 20px;
}

/********     RESUMEN ESTADISTICO   **************/


.estadisticas .tabla-container-custom {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    width: 100%;
}

.estadisticas .tabla-custom {
    flex: 1 1 45%; /* Ocupa casi la mitad del ancho */
    max-width: 45%; /* Para mantener el ancho máximo en pantallas grandes */
    margin-bottom: 20px;
}

.estadisticas table {
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #ffffff;
}

.estadisticas th, .estadisticas td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #dddddd;
}

.estadisticas th {
    background-color: #117c0f;
    color: #ffffff;
    font-size: 14px;
}

.estadisticas td {
    font-size: 14px;
}

.estadisticas tr:hover {
    background-color: #f1f5f9;
}

/* Responsivo para móviles */
@media (max-width: 768px) {
    .estadisticas .tabla-custom {
        flex: 1 1 100%; /* Ocupa el ancho completo en pantallas pequeñas */
        max-width: 100%;
    }
}

.estadisticacolor-blanco {
    color: rgb(17, 16, 16);
    background-color: #ffffff;
  }
  .estadisticacolor-amarillo  {
    color: rgb(17, 16, 16);
    background-color: #ecf402;
  }
  .estadisticacolor-naranja  {
    color: rgb(17, 16, 16);
    background-color: #ff8b17;
  }
  .estadisticacolor-azul  {
    color: rgb(255, 255, 255);
    background-color: rgb(25, 106, 205);
  }
  .estadisticacolor-rojo  {
    color: rgb(255, 255, 255);
    background-color: rgb(203, 25, 25);
  }
.imgestadistica {
    width: 30px;
}

/***************    CLUBES    ***************/

.clubeslink {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
}
.gallery-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    padding: 5px;
}
.gallery-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    text-align: center;
    text-decoration: none;
    color: #000000;
    transition: transform 0.3s ease;
}
.gallery-item img {
    width: 30%;
    height: auto;
    transition: transform 0.3s ease;
}
.gallery-item p {
    margin-top: 10px;
    font-size: 12px;
    font-weight: bold;
}
.gallery-item p:hover {
    margin-top: 10px;
    font-size: 12px;
    font-weight: bold;
}
.gallery-item:hover img {
    transform: scale(1.05);
}
.gallery-item:hover {
    color: #117c0f;
    transform: translateY(-5px);
}
@media (max-width: 768px) {
    .gallery-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .gallery-item {
        width: 100%;
        max-width: 70px;
    }
    .gallery-item img {
        width: 60%;
        height: auto;
        transition: transform 0.3s ease;
    }
}

/********     UNIFORMES ACORDEON ***********/

.galleryuniforme {
    font-family: Arial, sans-serif;
    display: flex;
    padding: 20px;
}
.custom-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    max-width: 1200px;
}
.custom-card {
    border-radius: 8px;
    padding: 15px;
    width: 150px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.custom-image {
    margin-left: 220px;
    width: 120px;
    height: auto;
    margin-bottom: 5px;
}
.custom-image1 {
  margin-left: 10px;
  width: 120px;
  height: auto;
  margin-bottom: 5px;
}
.custom-text {
    font-size: 14px;
    font-weight: bold;
    color: #000000;
}
@media (max-width: 768px) {
    .galleryuniforme {
        font-family: Arial, sans-serif;
        display: flex;
        padding: 1px;
    }
    .custom-gallery {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        justify-content: center;
        max-width: 1000px;
    }
    .custom-card {
        border-radius: 4px;
        padding: 3px;
        width: 100px;
        text-align: center;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .custom-image {
      margin-left: 130px;
      width: 120px;
      height: auto;
      margin-bottom: 5px;
  }
  .custom-image1 {
    margin-left: 0px;
    width: 120px;
    height: auto;
    margin-bottom: 1px;
}
    .custom-text {
        font-size: 8px;
        font-weight: bold;
        color: #000000;
    }
}